.capsuletabcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  height: 70px;
  width: 200px;
  background: red;
  border-radius: 36px;
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.circle {
  height: 58px;
  background: white;
  width: 58px;
  border-radius: 50%;
  position: absolute;
  transition: all 1s ease-in-out;
}
.fa-sun {
  font-size: 55px;
}
.fa-moon {
  font-size: 55px;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 {
  background: red;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  border: none;
  right: 34px;
  box-shadow: 21px 9px 2px black;
}
